---
title: Blog
layout: default
---

<!-- Blog Content Section -->
<section class="blog-content">
    <h2>CTF Writeups</h2>

    <!-- Search Bar -->
    <div class="search-article">
        <label for="search-input" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </label>
        <input type="search" id="search-input" placeholder="Search CTFs" aria-label="Search">
    </div>

    <!-- CTF Folder Structure -->
    <ul id="search-results" class="ctf-list">
        {% assign ctf_folders = site.posts | group_by: "category" %}
        {% for folder in ctf_folders %}
        <li class="ctf-folder">
            <h3>{{ folder.name }}</h3>
            <ul class="challenge-list">
                {% for post in folder.items %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>

<script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>
